h1 {
  font-family: 'Cinzel', serif;
  font-size: 100px;
  text-align: center;
  color: white;
  text-decoration-line: overline;
}

h3 {
  font-family: 'Cinzel', serif;
  font-size: 50px;
  text-align: center;
}

body {
  background-image: linear-gradient(to top, #ff0000, #f50000, #ec0101, #e20101, #d90101, #ce0101, #c30002, #b80002, #a90003, #9b0002, #8d0002, #7f0000);
}
.shadow{
  filter: drop-shadow(5px 10px 8px black)
  
}
.shield-outter{
  width: 25vw;
  height: 51vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 12%, 80% 68%, 50% 100%, 20% 68%, 0 13%); 
  background-color: goldenrod;
}
#height-form{
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 12%, 80% 68%, 50% 100%, 20% 68%, 0 12%);
  background-image: linear-gradient(to right, #d2d2d2, #b7b7b8, #9c9c9f, #828387, #696a6f, #696a6f, #696a6f, #696a6f, #828387, #9c9c9f, #b7b7b8, #d2d2d2);
  background-position: -120px -100px;
}
#height-form input{
  height: 10%;
  width: 30%;
  background: none;
  text-align: center;
  border: none;
  color:red;
  border-bottom:1px solid goldenrod;
 }
 #height-form input:focus{
   box-shadow: none;
   background-color: rgba(255, 0, 0, 0.421);
   border: none;
 }
#height-form input::placeholder{
  color:red
}
#height-form button{
  margin-top: 2%;
  width: 30%;
}
#height-form h3{
  padding-top: 2rem;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: red;
  font-size: 20px;
}

.container>img{
  height: 100px;
  width: 100px;
}

.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coaster-cont{
  margin-top: 5rem;
 width:100vw;
 display: flex;
 justify-content: space-evenly;

}
.coaster-box{
  width: 25%;
  border: 1px solid #7f0000;
  border-radius: 5px;
  box-shadow: 5px 10px 8px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.coaster-cont img{
  width:80%
}

 .no-show {
  display: none;
}

